.mainContainer{
    margin: 15px auto;
    width: 80%;
    position: relative;
    overflow: hidden;  
}
.mainImage{
    width: 100%;
}

.main{
    position: absolute;
    left: 100px;
    right: 100px;
    top: 150px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.left {
    width: 200px;
    margin-top: 45px;
    color: white;}

.left h1 {
    font-size: 75px;
    font-style: italic;

}    
.right {
    color: rgb(77, 5, 55);
    border-radius: 5px;
    text-align: center;
    height: 200px;
    width: 400px;
    background-color: rgba(162, 96, 189, 0.7);
    padding: 25px;
}

.right h1 {
    font-size: 1.5rem;
    margin-bottom: 55px;
}

.right button {
    margin: 30px;
    color: rgb(27, 2, 15);
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(180, 99, 141,0.6);
    border: none;
    font-weight: bold;
}

.right button:hover {
    background-color: rgb(27, 2, 15);
    color: white;
}

.title {
    margin-top: 80px;
    color: rgb(27, 2, 15);;
}

