.mainContainer{
    margin: 15px auto;
    width: 80%;
    position: relative;
    overflow: hidden;  
}

.innContainer {
    background-color: #dbbaba;
    height:700px;
    border-radius: 10px;
    overflow: hidden;
}
.mainImage{
    width:50%;
    height:100%
}

.main{
    position: absolute;
    right: 100px;
    top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.right {
    color: 	white;
    border-radius: 5px;
    text-align: center;
    height: 200px;
    width: 400px;
    background-color: rgba(240, 162, 138, 0.3);
    padding: 25px;
}

.right h1 {
    font-size: 1.5rem;
    margin-bottom: 55px;
}

.right button {
    margin: 30px;
    color: rgb(27, 2, 15);
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(210,173,173,0.7);
    border: none;
    font-weight: bold;
}

.right button:hover {
    background-color: rgb(27, 2, 15);
    color: white;
}

.title {
    margin-top: 80px;
    color: rgb(27, 2, 15);;
}

