.navBar{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}    

.menuContainer{
    margin: 20px;
}

.menuContainer ul{
    display: flex;
}

.menuContainer li{
    cursor: pointer;
    padding: 15px;
    color: white;
    font-size: 14px;
   
}

.menuContainer a{color: white;}

.menuContainer li:hover{
font-weight: bold;
}

.logo{
    width: 20px;
    padding: 10px;
    cursor: pointer;
}

.menuIcon{
    width: 20px;
    padding:10px 30px;
    cursor: pointer;
}
