.packageContainer{
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: space-evenly;
}

.plan{display: flex;
    color: rgba(121, 69, 69, 0.8);
    margin:30px auto;
    opacity: 0.6;
    font-style: italic;
}

.plan::after, .plan::before{
  flex: 1;
  content: "";
  margin: 1rem;
  height: 1px;
  background-color: rgba(121, 69, 69, 0.8);
}

