.container{
    width: 300px;
    margin: 10px;
    height:250px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(209, 153, 153);
}

.container:hover{
    box-shadow: 5px 5px 10px rgb(209, 120, 120);
}

.container img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.name{
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    font-weight: bold;
    color: rgb(82, 9, 49);
}

.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: rgba(209, 153, 153,0.7);
    bottom: 0px;
    left: 0;
    color: rgb(82, 9, 49);
    cursor: pointer;
    }
 

.time h1{
    padding: 5px;
    width: 90px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin: 15px;
    background-color: #ecbfc9 ;}

.counter{
    padding: 5px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 15px;
    background-color: #ecbfc9;
    border-radius: 25px;
}   

.time p{font-weight: bold;}

.time img{width: 12px;}

.deactive{opacity: 0.3;}

.lowerCase{
    font-size: 0.6rem;
}