.basketContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.emptyBasket {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:60px;
    color: white;
    background-color: rgba(10, 0, 15, 0.2);
    height: 300px;
    border-radius: 15px;
}

.emptyBasket a{
    margin-top: 15px;
    font-size: 0.85rem;
    color: white;
}

.emptyBasket a:hover {
    border-bottom: 1px solid white;
}

.counterContainer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 0.8rem;
    height: 100px;
    background-color:  rgba(10, 0, 15, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.buttonContainer button {
    background-color: rgba(210,173,173,0.7);
    padding: 4px;
    font-size: 0.7rem;
    border-radius: 5px;
    color: rgb(27, 2, 15);
    font-weight: bold;
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.buttonContainer button:hover {
    background-color:  rgb(116, 30, 74);
    color: white;
}

.checkout {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:60px;
    color: white;
    background-color: rgba(10, 0, 15, 0.2);
    height: 300px;
    border-radius: 15px;
}

.checkout a{
    margin-top: 15px;
    font-size: 0.85rem;
    color: white;
}

.checkout a:hover {
    border-bottom: 1px solid white;
}