.navbarContainer {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 90px;
  background-color: rgba(10, 0, 15, 0.2);
  border-radius: 5px;
}

.menu {
    width: 300px;
    font-size: 0.8rem;
    justify-content: space-evenly;
    display: flex;
    color: rgba(121, 69, 69, 0.7);
    cursor: pointer;
}

.menu a{
    color: rgba(121, 69, 69, 0.7);
}

.menu a:hover {
border-bottom: 1px solid rgba(121, 69, 69, 0.7);
font-weight: bold;
color: rgba(121, 69, 69, 0.7);
}

.navbarIcons {
    width: 80px;
    display: flex;
    justify-content: space-evenly;
}

.navbarIcons img {
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.counter{
    position: relative;
    width: 30px
}

.counter span {
    position: absolute;
    top:-2px;
    right: 2px;
    color: rgb(248, 88, 155);
    font-weight: bolder;
    font-size: 0.8rem;
}