.mainContainer{
    width: 80%;
    height: 100vh;
    margin:35px auto;
}

.outerContainer {
   margin-top: 150px;
   height: 700px;
   display: flex;
   justify-content: center;
}

.container {
    margin-top: 45px;
    display: flex;
    width: 350px;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    background-color: 	rgb(211, 153, 153);
    border-radius: 10px;
}

.formContainer {
    padding: 10px 20px;
    width: 85%;
 }

.header {
    color: white;
    margin:15px auto;
    text-align: center;
    text-shadow: 2px 2px #d49090
}

.formInput {
    color: white;
    border-radius: 15px;
    padding: 5px;
    background-color: rgba(225, 225, 225, 0.3);
    border:none}

.incomplete {
    color: white;
    border-radius: 15px;
    padding: 7px;
    background-color: rgba(225, 225, 225, 0.3);
    border: 1px solid rgb(134, 20, 73);
}


.formInput:focus,
.incomplete:focus {
    outline: none;
    border: 1px solid rgb(45, 211, 156);
}

.formField  {
    height: 40px;
    margin-top: 30px;
} 

.formField {
    color: white;
    display: flex;
    flex-direction: column;
    height: 65px;
    font-size:0.7rem;
    margin-bottom: 27px;
}

.formField label {
    margin-bottom: 5px;
    color: white;
}

.formField span {
    margin:5px auto;
    font-size: 0.6rem;
    margin-left: 5px;
    color: rgb(211, 15, 41);
    font-weight: bold;
}

.checkbox  {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    border:1px solid white;
    width: 12px;
    height: 11px;
    border-radius: 10px;
    appearance: none;
    background-color:rgba(63, 11, 88, 0.2);
    margin-left: 10px;
    
}

.checkboxContainer label{
    color: rgb(51, 1, 32);
    font-size: 0.6rem;
    font-weight: bold;
}

.checkboxContainer span {
    margin:5px auto;
    font-size: 0.6rem;
    margin-left: 5px;
    color: rgb(211, 15, 41);
    font-weight: bold;
}

input[type="checkbox"]:checked {
    background-color: rgb(51, 1, 32);
    border: none;
}

.formButtons {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.formButtons span {
    font-size: 0.6rem;
    margin-top:15px;
}

.formButtons button {
    width:60px;
    padding: 7px;
    font-size: 0.7rem;
    border:none;
    border-radius: 5px;
    background-color: #e7cdcf;
    color: rgb(155, 80, 80);
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out;
}

.formButtons a {
    color:rgb(134, 20, 73);
    font-weight: bold;
}

.formButtons a:hover {
    color: white;
    border-bottom: 1px solid white;
}

.formButtons button:hover {
    background-color: rgba(204, 164, 231, 0.5);
    color: white;
}

.checkboxContainer{
    display: flex;
    color: white;
    flex-direction: column;
    height: 30px;
    font-size:0.7rem;
    margin-bottom: 15px;
    margin-top:20px
}


.login {
    width: 500px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: rgba(153, 28, 86,0.7);
}

.login h1 {
    margin-bottom: 45px;
}

.login a {
    color: rgb(59, 5, 30);
    font-size: 0.8rem;
}

.login a:hover {
    border-bottom: 1px solid white;
    color: rgb(71, 5, 57);
}